<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/pricelist.css">
    <title>addPricelist</title>
</head>
<body>
    <main>
        <section style="margin-top: 70px;">
            <form action="/addNewPricelist" method="POST">
                <label for="title">Food Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="price">Price:</label><br>
                <input type="text" id="price" name="price">
                <input type="submit" value="Submit">
            </form>
        </section>

        <div class="list">
            <ul>
                <% pricelist.forEach(function(pricelist){ %>
                <li>
                    <!-- <span class="number">1</span> -->
                    <span class="name"> <%= pricelist.name %> </span>
                    <span class="price">$<%= pricelist.price %> </span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <% }); %>
                <li>
                    <!-- <span class="number">2</span> -->
                    <span class="name">Ofada rice</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">3</span> -->
                    <span class="name">Pounded yam</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">4</span> -->
                    <span class="name">Stir fry spag</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">5</span> -->
                    <span class="name">Semo</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">6</span> -->
                    <span class="name">Ice cream</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">7</span> -->
                    <span class="name">Fried rice</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
                <li>
                    <!-- <span class="number">8</span> -->
                    <span class="name">Egusi</span>
                    <span class="price">$20.00</span>
                    <!-- <span class="number"><a href="#" class="menu_btn">Order Now</a></span> -->
                </li>
            </ul> 
        </div>
    </main>
    
</body>
</html>