<%- include('partials/adminSidenav') %>

    <main style="width: 60%;">
        <section style="margin-top: 70px;">
            <form action="/addNewPricelist" method="POST">
                <label for="title">Food Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="price">Price:</label><br>
                <input type="text" id="price" name="price"><br>
                <input type="submit" value="Submit">
            </form>
        </section>

        <div class="list">
            <ul>
                <% pricelist.forEach(function(pricelist){ %>
                <li>
                    <span class="name"> <%= pricelist.name %> </span>
                    <span class="price">$<%= pricelist.price %> </span>
                </li>
                <% }); %>
                <!-- <li>
                    <span class="name">Ofada rice</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Pounded yam</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Stir fry spag</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Semo</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Ice cream</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Fried rice</span>
                    <span class="price">$20.00</span>
                </li>
                <li>
                    <span class="name">Egusi</span>
                    <span class="price">$20.00</span>
                </li> -->
            </ul> 
        </div>
    </main>
    
    <%- include('partials/adminSidenavJS') %>
</body>
</html>