<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addPricelist</title>
</head>
<body>
    <main>
        <section style="margin-top: 70px;">
            <form action="/addNewPricelist" method="POST">
                <label for="title">Food Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="price">Price:</label><br>
                <input type="text" id="price" name="price"><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
</body>
</html>