<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div>
                <a href="/admin/menu"><button> to add menu</button></a>
            </div>
            <div>
                <a href="/admin/addPricelist"><button>link to add pricelist</button></a>
            </div>
            <div>
                <a></a>
            </div>
        </section>
    </main>
</body>
</html>