<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oden Unlimited</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery plugin -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    
</head>
<body id="body">

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">           
            <div class="menu_card">
                <div class="menu_image">
                     <img src="/public/images/Moi Moi.jpeg"> <!--https://res.cloudinary.com/dmnaedwo6/image/upload/v1698417515/xnkjjflr0g130xf209mj.jpg -->
                </div>
                <div class="menu_info">
                    <h2>Moi Moi</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                </div>
            </div> 

            <!-- <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/Jollof up.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Jollof rice</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/offada up.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Offada rice</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/pounded Yam.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Pounded Yam</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                </div>
            </div>  -->
        </div>

        <div class="newbtn">
            <a href="/pricelist" class="new_btn">View Menu Pricelist</a>
        </div>
    </div> 

</body>
</html>