<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oden Unlimited</title>
    <link rel="stylesheet" type="text/css" href="/public/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
          <div class="header-nav-mobile">
              <div class="logo">
                  <img href="/" src="/public/images/LOGO  new.png">
              </div>

              <i id="open-menu"  class="fa-solid fa-bars" 
              style="font-size:30px;cursor:pointer;color: white;">
              </i>
          </div>
          

          <div id="mySidenav" class="sidenav close-menu">
              <i id="close-menu" class="fa-solid fa-xmark" 
              style="font-size:30px;cursor:pointer;
              color: black;">
              </i>
          
              <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#About">About</a></li>
                  <li><a href="#Menu">Menu</a></li>
                  <li><a href="#Gallery">Gallery</a></li>
                  <li><a href="#Review">Review</a></li>
                  <li><a href="#Order">Order</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>

              <div class="icons-in-hamburger">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-cart-shopping"></i>
              </div>
          </div>
          <div id="mySidenav" class="sidenav icons-login">
              <div class="icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-cart-shopping"></i>
              </div>
              <div class="signup-login_btn">
                  <a href="/signup">Signup</a>
                  <div class="signup-divider"></div>
                  <a href="/login">Login</a>
              </div>
          </div>
      </nav>
    </header>

    <div class="contactUs">
      <div class="title">
        <h2>Get in touch</h2>
      </div>

      <div class="box">
        <!-- Form -->
        <div class="contact form">
          <h3>Send a Message</h3>
          <form>
            <div class="formBox">
              <div class="row50">
                <div class="inputbox">
                  <span>First Name</span>
                  <input type="text" placeholder="First Name" />
                </div>
                <div class="inputbox">
                  <span>Last Name</span>
                  <input type="text" placeholder="Last Name" />
                </div>
              </div>

              <div class="row50">
                <div class="inputbox">
                  <span>Email</span>
                  <input type="text" placeholder="Enter Email" />
                </div>
                <div class="inputbox">
                  <span>Mobile</span>
                  <input type="text" placeholder="Number" />
                </div>
              </div>

              <div class="row100">
                <div class="inputbox">
                  <span>Message</span>
                  <textarea placeholder="Write your message here.."></textarea>
                </div>
              </div>

              <div class="row100">
                <div class="inputbox">
                  <input type="submit" value="Send" />
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- info Box -->
        <div class="contact info">
          <h3>Contact Info</h3>
          <div class="infobox">
            <div>
              <span><ion-icon name="location"></ion-icon></span>
              <p>12, High Street, Crewe CW27BN <br />UK</p>
            </div>
            <div>
              <span><ion-icon name="mail"></ion-icon></span>
              <a href="mailto:foodshop123@gmail.com">foodshop123@gmail.com</a>
            </div>
            <div>
              <span><ion-icon name="call"></ion-icon></span>
              <a href="tel:+44 7949 686 248">+44 7949 686 248</a>
            </div>
            <!-- social Media link -->
            <ul class="sci">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-instagram"></i>
            </ul>
          </div>
        </div>

        <!-- map -->
        <div class="contact map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2395.8298285741307!2d-2.4403830999999996!3d53.
                09529109999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a5f580eec44cb%3A0xf4318bf55a324a0f!
                2s12%20High%20St%2C%20Crewe%20CW2%207BN%2C%20UK!5e0!3m2!1sen!2sng!4v1696643347891!5m2!1sen!2sng"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script type="application/javascript" src="/public/js/script.js"></script>
  </body>
</html>
