<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/gallery.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery plugin -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <title>ODEN UNLIMITED</title>
</head>
<body>
    <header>
        <nav>
            <div class="header-nav-mobile">
                <a href="/" class="logo">
                    <img src="/images/LOGO  new.png">
                </a>

                <i id="open-menu"  class="fa-solid fa-bars" 
                style="font-size:30px;cursor:pointer;color: white;">
                </i>
            </div>
            

            <div id="mySidenav" class="sidenav close-menu">
                <i id="close-menu" class="fa-solid fa-xmark" 
                style="font-size:30px;cursor:pointer;
                color: black;">
                </i>
            
                <ul>
                    <li><a href="/#Home">Home</a></li>
                    <li><a href="/#About">About Us</a></li>
                    <li><a href="/#Menu">Menu</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <!-- <li><a href="#Order">Order</a></li> -->
                    <li><a href="/#Review">Review</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

                <div class="icons-in-hamburger" id="headerReservation-div">
                    <a href="/#Reservation">Make Reservation</a>   
                </div>
            </div>
            <div id="mySidenav" class="sidenav icons-login">
                <div class="icon" id="headerReservation-div">
                    <a href="/#Reservation">Make Reservation</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="background" id="background">
        <div class="centering">
            <div class="articles">
                <% gallery.forEach(function(gallery) { %>
                    <article>
                        <figure>
                            <img
                                src="<%= gallery.image %>"
                                alt="Preview"
                                class="lightbox-trigger"
                            >
                        </figure>
                    </article>
                <% }); %>
                <!-- <article>            
                    <figure>
                        <img
                            src="../public/images/image1.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image2.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image3.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>            
                    <figure>
                        <img
                            src="../public/images/image4.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image5.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image6.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>            
                    <figure>
                        <img
                            src="../public/images/image7.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image8.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image9.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article>
                <article>
                    <figure>
                        <img
                            src="../public/images/image10.jpeg"
                            alt="Preview"
                            class="lightbox-trigger"
                        >
                    </figure>
                </article> -->
            </div>        
        </div>
        
    </div>
    <div class="lightbox" id="lightbox" style="padding-top: 5rem;">
        <span class="close-button" id="close-button" style="padding-top: 5rem; color: red; font-size: 50px; font-weight: 600;">&times;</span>
        <img src="" alt="Lightbox Image" id="lightbox-image">
    </div>

    <script type="application/javascript" src="/js/script.js"></script>
    <script>
        const lightbox = document.getElementById("lightbox");
        const closeButton = document.getElementById("close-button");
        const lightboxImage = document.getElementById('lightbox-image');

        const lightboxTrigger = document.querySelectorAll(".lightbox-trigger");

        // Function to open the lightbox
        function openLightbox() {
            lightbox.style.display = "block";
        }

        // Function to close the lightbox
        function closeLightbox() {
            lightbox.style.display = "none";
        }

        // Event listener for clicking on the close button
        closeButton.addEventListener("click", closeLightbox);

        // Event listeners to open the lightbox for each image
        lightboxTrigger.forEach((trigger) => {
            trigger.addEventListener("click", function () {
                lightboxImage.src = trigger.src;
                openLightbox();
            });
        });

        // Event listener to close the lightbox by clicking anywhere on the window
        window.addEventListener("click", function (event) {
            if (event.target === lightbox) {
                closeLightbox();
            }
        });
    </script>
</body>
</html>