<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oden Unlimited</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery plugin -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    
</head>
<body id="body">

    <header>
        <nav>
            <div class="header-nav-mobile">
                <a href="/" class="logo">
                    <img src="/public/images/LOGO  new.png">
                </a>

                <i id="open-menu"  class="fa-solid fa-bars" 
                style="font-size:30px;cursor:pointer;color: white;">
                </i>
            </div>
            

            <div id="mySidenav" class="sidenav close-menu">
                <i id="close-menu" class="fa-solid fa-xmark" 
                style="font-size:30px;cursor:pointer;
                color: black;">
                </i>
            
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About Us</a></li>
                    <li><a href="#Menu">Menu</a></li>
                    <li><a href="#Gallery">Gallery</a></li>
                    <!-- <li><a href="#Order">Order</a></li> -->
                    <li><a href="#Review">Review</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>

                <div class="icons-in-hamburger" id="headerReservation-div">
                    <a href="#Reservationer">Make Reservation</a>   
                </div>
            </div>
            <div id="mySidenav" class="sidenav icons-login">
                <div class="icon" id="headerReservation-div">
                    <a href="#Reservation">Make Reservation</a>
                </div>
            </div>
        </nav>
    </header>

    <section id="Home">

        <div class="main">

            <div>
                <div class="men_text">
                    <h1>Welcome to <span>ODEN</span><br>Lounge.</h1>
                </div>

                <p>
                    Welcome to Oden Lounge. The home of Relaxation, Entertainment and Hospitality. We offer
                    a great variety of rich Nigeran dishes such as Jollof rice, Pounded yam, Ofada rice and
                    several other well known delicacies as you would find on our menu. We also pride ourselves 
                    in offering a great experience to lovers of wines, beers and all kinds of spirit, and you 
                    can be guaranteed that our bartenders are well trained and passionate in making your visit
                    a delightful one whilst prioritizing responsible drinking and safety of all our guests.
                </p>

                <div class="main_btn">
                    <a href="#Reservation">Make Reservation</a>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            

            <div class="main_image">
                <img loading="lazy" src="/public/images/main_img.png">
            </div>

        </div>


    </section>

    <!--About-->
    <div class="about" id="About">
        <h1><span>About</span>Us</h1>
        <div class="about_main">

            <div class="image">
                <img loading="lazy" src="/public/images/Food-Plate.png" alt="plate of food">
            </div>

            <div class="about_text">
                
                <!-- <h3>Why Choose us?</h3> -->
                <p>
                Oden Lounge is the first of its kind in the heart of Crewe and our aim is to create an atmosphere that is not just
                for relaxation and entertainment for our esteemed customers but where pleasant memories can be made.
                </p><br>

                <p> The conception of Oden Lounge in Crewe was based on the need to bring together the fast growing multicultural community under one roof
                to experience a variety of amazing services we have to offer. A few of our services include the provision of alcoholic and 
                non-alcoholic beverages from a wide selection such as cocktails, spirits, wines and beers, a variety of african and intercontinental dishes, regular DJ performances mixed with recorded music from different parts of the world and hosting private events and parties.</p>

                <p>Our mission is to contribute immensely to the social development of Crewe through provision of an inclusive space where people can have a break from the stresses of day to day life and integrate nicely into the community.
                </p><br>
                <p>
                We look forward to welcoming you to our exquisite lounge.
                </p>
                
            </div>

        </div>

        <!-- <a href="#" class="about_btn">Order Now</a> -->

    </div>

    <!--Menu-->
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">           
            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/Moi Moi.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Moi Moi</h2>
                    
                    <h3>£0.00</h3>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/Jollof up.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Jollof rice</h2>
                    
                    <h3>£0.00</h3>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/offada up.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Ofada rice</h2>
                    
                    <h3>£0.00</h3>
                </div>
            </div> 

            <div class="menu_card">
                <div class="menu_image">
                    <img src="/public/images/pounded Yam.jpeg">
                </div>
                <div class="menu_info">
                    <h2>Pounded Yam</h2>
                    
                    <h3>£0.00</h3>
                </div>
            </div> 
            <!-- <div class="menu_card">

                <div class="menu_image">
                    <img src="/public/images/semo.jpeg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Semo</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div>             

            <div class="menu_card">

                <div class="menu_image">
                    <img src="/public/images/amala.jpeg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Amala</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <h3>$20.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div>            -->
        </div>

        <div class="newbtn">
            <a href="/pricelist" class="new_btn">View Menu Pricelist</a>
        </div>
    </div>  
         
    <!--Gallery-->
    <div class="gallery-div" id="Gallery">
        <h1>Our<span>Gallery</span></h1>

        <div class="background">
            <div class="gallery">
                <div class="card">
                    <figure><a href="/gallery">
                        <img
                            src="../public/images/image0.jpeg"
                            alt="Preview"
                        ></a>
                    </figure>
                </div>
                <div class="card">
                    <figure><a href="/gallery">
                        <img
                            src="../public/images/image1.jpeg"
                            alt="Preview"
                        ></a>
                    </figure>
                </div>
                <div class="card">
                    <figure><a href="/gallery">
                        <img
                            src="../public/images/image2.jpeg"
                            alt="Preview"
                        ></a>
                    </figure>
                </div>
                <div class="card">
                    <figure><a href="/gallery">
                        <img
                            src="../public/images/image3.jpeg"
                            alt="Preview"
                        ></a>
                    </figure>
                </div>
                <!--? more picture here  -->
                <!-- Pictures from Freepik -->
            </div>    
            <a id="viewGalleryBtn" href="/gallery">View Gallery</a>        
        </div>
    </div>

    <!--Order-->
    <div class="order" id="Reservation">
        <h1><span>Make a</span>Reservation</h1>

        <div class="order_main">

            <div class="order_image">
                <img loading="lazy" src="/public/images/order_image.png">
            </div>

            <form id="myForm1" action="/submitReservation" class="myForm" method="post">

                <div class="input">
                    <p>Your name</p>
                    <input id="reservationName" name="name" type="text" placeholder="Input your name" required>
                </div>

                <div class="input">
                    <p>Number of people</p>
                    <input id="reservationNumberOfPeople" name="numberOfPeople" type="number" min=1 oninput="validity.valid||(value='');" placeholder="Table of" required>
                </div>

                <div class="input">
                    <p>Time</p>
                    <input id="reservationTime" name="time" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="Time of Arrival" required>
                </div>

                <div class="input">
                    <p>Date</p>
                    <input id="reservationDate" name="date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Scheduled Date" required>
                </div>

                <div class="input">
                    <p>Phone number</p>
                    <input id="reservationPhoneNumber" name="phoneNumber" type="tel" placeholder="Input Mobile">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input id="reservationEmail" name="email" type="email" placeholder="Input Email." required>
                </div>

                

                <input type="submit" class="order_btn"></input>

            </form>

        </div>

    </div>

    <!--Review-->
    <div class="write-review" id="Review">
        <h1>Leave a<span>Review</span></h1>

        <!-- <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="/public/images/review_1.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="/public/images/review_2.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="/public/images/review_3.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="/public/images/review_4.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

        </div> -->

        <div class="contact form">
            <form id="myForm2" class="myForm" action="/submitReview" method="post">
              <div class="formBox">
                <div class="row50">
                  <div class="inputbox">
                    <span>Name</span>
                    <input id="name" type="text" name="name" placeholder="Name" />
                  </div>
                  <div class="inputbox">
                    <span>Email</span>
                    <input id="email" type="email" name="email" placeholder="Enter your Email" />
                  </div>
                </div>
  
                  <div class="inputbox">
                    <span>Review</span>
                    <textarea id="message" name="message" placeholder="Write your review here.."></textarea>
                  </div>
  
                  <div class="inputbox">
                    <input id="sendBtn" class="sendBtn" type="submit" value="Send"/>
                  </div>
              </div>
            </form>
          </div>

    </div>

    <!--Footer-->
    <footer>
        <div class="footer_main">

            <a href="/" class="logo">
                <img src="/public/images/LOGO  new.png">
            </a>

            <div class="footer_tag">
                <ul>
                    <li><a href="/#Home">Home</a></li><br>
                    <li><a href="/#About">About Us</a></li><br>
                    <li><a href="/#Menu">Menu</a></li><br>
                    <li><a href="/#Reservation">Reservation</a></li><br>
                </ul>
            </div>

            <div class="footer_tag footer-margin">
                <a style="text-decoration: none;" href="contact.html"><h3>Contact Us</h3></a>
                <p>+44 7949 686 248</p>
                <p>+44 7904 999 682</p>
                <p>12, High Street, Crewe CW27BN</p>
                <p> odenunlimited@gmail.com</p>
            </div>

            <div class="footer_tag footer-margin">
                <h3>Opening hours</h3>
                <p>Monday- Closed</p>
                <p>Tuesday to Saturday: 11am-1am</p>
                <p>Sunday: 1pm to 11pm</p>
            </div>

            <div class="footer_tag socials">
                <h3 style="margin-bottom: 10px;">Social Media</h3>
                <a href="https://www.facebook.com/profile.php?id=61552138994856" class="fa-brands fa-facebook-f"></a>
                <a href="https://instagram.com/odenlounge?igshid=MzRlODBiNWFlZA==" class="fa-brands fa-instagram"></a>
            </div>

        </div>

      

    </footer>

    <div id="notification" style="display: none;" class="notification"></div>

    <script type="application/javascript" src="/public/js/script.js"></script>    
    <script>
        // Handle Reservation submission
        document.getElementById("myForm1").addEventListener("submit", async function (event) {
        event.preventDefault();

        const formData = {
            reservationName: document.getElementById("reservationName").value,
            reservationNumberOfPeople: document.getElementById("reservationNumberOfPeople").value,
            reservationTime: document.getElementById("reservationTime").value,
            reservationDate: document.getElementById("reservationDate").value,
            reservationPhoneNumber: document.getElementById("reservationPhoneNumber").value,
            reservationEmail: document.getElementById("reservationEmail").value,
            // Serialize Reservation data
            // ...
        };
       
        const jsonString = JSON.stringify(formData);

        try {
            const response = await fetch("/submitReservation", {
            method: 'POST',
            body: jsonString,
            headers: {
                'Content-Type': 'application/json',
            },
            });

            if (response.ok) {
                // window.location.reload();
                const notification = document.getElementById("notification");
                notification.textContent = "Reservation submitted!";
                await showNotification();
                // Handle success for Reservation
            } else {
                console.log('Error:', response.status);
                // Handle error for Reservation
            }
        } catch (error) {
            console.error('Network error:', error);
            // Handle network error for Reservation
        }
        });

        // Handle Review submission
        document.getElementById("myForm2").addEventListener("submit", async function (event) {
        event.preventDefault();

        const formData = {
            name: document.getElementById("name").value,
            email: document.getElementById("email").value,
            message: document.getElementById("message").value,
            // Serialize form 2 data
            // ...
        };

        const jsonString = JSON.stringify(formData);

        try {
            const response = await fetch("/submitReview", {
            method: 'POST',
            body: jsonString,
            headers: {
                'Content-Type': 'application/json',
            },
            });

            if (response.ok) {
                // window.location.reload();
                const notification = document.getElementById("notification");
                notification.textContent = "Review submitted!";
                await showNotification();
            // Handle success for form 2
            } else {
                console.log('Error:', response.status);
            // Handle error for form 2
            }
        } catch (error) {
            console.error('Network error:', error);
            // Handle network error for form 2
        }
        });
    </script>
</body>
</html>